# Cloudflare Tunnel — created by scripts/setup-bootstrap.py (config mode)
tunnel: __TUNNEL_ID__
credentials-file: /etc/cloudflared/__TUNNEL_ID__.json

ingress:
  - hostname: "*.__DOMAIN__"
    service: http://traefik:80
  - hostname: "__DOMAIN__"
    service: http://traefik:80
  - service: http_status:404
